<ion-view title="AddCoin" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="profile_pic_div">
                  <img id="profile_pic" src="images/coinwallet.png">

                  <table style="width:100%"><tr><td align="left">
                  <h3><span id="markettext">Market Coin Value<span><span id="DollorVal">10$</span></h3>
                </td>
                <td align="right">
                  <h2><span id="markettext">Your Credits<span>
                    <a class="button icon-right ion-social-bitcoin button-clear button-dark">300</a></h2>
                  </td></tr></table>
        </div>

            <div class="list">

            <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-card placeholder-icon"></i>
                <input type="text" placeholder="Card Number" ng-model="request.cardNumber">
              </label>
            </div>

            <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-clock placeholder-icon"></i>
                <input type="text" placeholder="Exp Date" ng-model="request.expDate">
              </label>
            </div>

            <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-ios-eye placeholder-icon"></i>
                <input type="text" placeholder="CVV" ng-model="request.cvv" maxlength="3">
              </label>
            </div>

            <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-social-usd placeholder-icon"></i>
                <input type="text" placeholder="Amount in USD" ng-model="request.amount">
              </label>
            </div>


              <label class="item item-input item-stacked-label" style="margin-top:10px">
                <span class="input-label" id="coin_cal">{{coins | number}} Coins</span>
                <span class="input-label" id="dollor_cal"> {{actualAmount | number}} USD</span>
              </label>

              <a  id="login-button1" class=" button button-stable  button-block" ng-click="transfer()">Transfer</a>

                <!-- 
              <a class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i>
                Friends
                <span class="badge badge-assertive">0</span>
              </a> -->

            </div>
    </ion-content>
</ion-view>