<ion-view title="myPosts" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refreshPosts()">
        </ion-refresher>
        <div class="list card" ng-repeat="post in posts">
          <div class="item item-avatar">
            <img src="http://ionicframework.com/img/docs/mcfly.jpg">
            <h2>{{post.user.name}}</h2>
            <p>{{post.post.created_at | date}}</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="{{post.post.image}}" ng-if="post.post.image">
            <p>
              {{post.post.description}}
            </p>
            <p>              
              <img class="coin-size" src="images/coin.png"></img>
              <a href="#" class="subdued">{{post.post.amount_expected}} Coins</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ng-click="showPopup()" >
              <i class="icon ion-heart"></i>
              Transfer
            </a>
            
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>

        </div>        
    </ion-content>
</ion-view>

<style>
.coin-size {
  height: 20px;
  width: 20px;
}
</style>
