<ion-view title="PostDetails" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="postDetails-card23">
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-item class="item-icon-left assertive  " id="postDetails-list-item6">
                <i class="icon ion-android-favorite"></i>$100USD Funded</ion-item>
        </div>
        <p id="postDetails-markdown1" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
    </ion-content>
</ion-view>