<ion-view title="TransferCoins" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="profile_pic_div">
                  <img id="profile_pic" src="images/payments.jpg">

                  <table style="width:100%"><tr><td align="left">
                  <h3></h3>
                </td>
                <td align="right">
                  <h2><span id="markettext">Capital <span>
                    <a class="button icon-right ion-social-bitcoin button-clear button-dark">73300</a></h2>
                  </td></tr></table>
        </div>

            <div class="list">

            <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-social-bitcoin placeholder-icon"></i>
                <input type="number" placeholder="Enter Coins to Transfer" ng-model="request.coinsToTransfer">
              </label>
            </div>

          <div class="list">

              <label class="item item-input item-select">
                <div class="input-label">
                  Bank
                </div>
                <select ng-model="request.selectedBank">
                  <option value="dbs">DBS</option>
                  <option value="ubs">UBS</option>
                  <option value="ocbc">ODBC</option>
                </select>
              </label>

            </div>


              <a  id="login-button1" class=" button button-stable  button-block " ng-click="transfer()">Transfer</a>

            </div>
    </ion-content>
</ion-view>