<ion-modal-view>
	
	<ion-header-bar align-title="center" class="bar-calm">
	  <div class="buttons">
    <a class="button button-icon icon ion-android-close" ng-click="closeModal()"></a>
	  </div>
	  <h1 class="title">New Post</h1>
	  <div class="buttons">
      <a class="button button-icon icon ion-checkmark-circled" ng-click="main.createPost()"></a>
	  </div>
	</ion-header-bar>
	<ion-content class="has-header">
		<div class="list">
            <label class="item item-input">

               <textarea  rows="10"  ng-model="main.postRequest.description" placeholder="Message"></textarea>
            </label>
           
            <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-social-usd placeholder-icon"></i>
                <input type="number" placeholder="Required Ammount in USD" ng-model="main.postRequest.amount">
              </label>
            </div>

             <label class="item item-input item-stacked-label" style="margin-top:10px">
                <span class="input-label" id="coin_cal" style="padding-left:10px">200 Coins</span>
                <span class="input-label" id="dollor_cal"> 980 USD</span>
              </label>




			<label class="item item-input">
            <div class="fileUpload btn btn-primary">
			    <span style:"color:darkmagenta">Upload</span>
			    <input type="file" class="upload" ng-model="main.postRequest.image" ngf-select="main.fileTest()"/>
			</div>
			</label>
            
        </div>
	</ion-content>

	

			    



</ion-modal-view>

<style type="text/css">
	label {
   pointer: cursor;
   /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
</style>