/* Empty. Add your own CSS if you like */
#profile_pic{
	width: 80px;
    height: 80px;
    border-radius: 50px;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px;
}
#profile_pic_div{
	text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}